<div class="card quiz-card shadow">
  <!-- Header -->
  @if (currentQuestion) {
    <div class="card-header d-flex justify-content-between align-items-center">
      <span class="fw-semibold">
        Câu {{ currentQuestion.questionNumber }} / {{ listQuestion.length }}
      </span>

      <button
        class="btn btn-sm btn-outline-warning pointer"
        (click)="bookmark()"
      >
        ⭐
      </button>
    </div>
    <!-- Body -->
    <div class="card-body">
      <!-- Question -->
      <h5 class="question-text">
        {{ currentQuestion.content }}
      </h5>
      <div class="question-image-wrapper">
       <app-question-image [questionId]="currentQuestion.questionNumber"/>
      </div>
      @if (isLearningMode) {
        <div class="answer-list">
          @for (ans of currentQuestion.answers; track ans.id; let i = $index) {
            <div
              class="answer-item answer"
              [class.correct]="selectedAnswerId === ans.id && ans.isCorrect"
              [class.incorrect]="selectedAnswerId === ans.id && !ans.isCorrect"
              (click)="checkAnswer(ans)"
            >
              <span class="">
                @if (selectedAnswerId === ans.id && ans.isCorrect && answered) {
                  <span class="visually-hidden text-success"> ✔ </span>
                }
                @if (
                  selectedAnswerId === ans.id && !ans.isCorrect && answered
                ) {
                  <span class="visually-hidden text-error"> ❌ </span>
                }
                {{ i + 1 }}.
                {{ ans.content }}
              </span>
            </div>
          }
        </div>
        <div
          class="result-box mt-4 explanation-box"
          *ngIf="isCorrect == false && isCorrect != null"
        >
          <!-- <div
            class="fw-bold"
            [ngClass]="isCorrect ? 'text-success' : 'text-error'"
          >
            {{ isCorrect ? "✔ Chính xác" : "❌ Sai rồi" }}
          </div> -->

          <div class="">
            <div class="fw-bold">
              <div class="align-items-center gap-1 explanation-header">
                <mat-icon class="text-warning">tips_and_updates</mat-icon>
                <b>Giải thích:</b>
              </div>
            </div>
            <div class="text-muted mt-2">
              @if (!currentQuestion.explanation) {
                <span class="text-warning">Chưa có giải thích</span>
              }

              {{ currentQuestion.explanation }}
            </div>
          </div>
        </div>
      } @else {
        <!-- Answers -->
        <form [formGroup]="questionForm" (ngSubmit)="submitExam()">
          <div class="answer-list">
            <label
              *ngFor="let ans of currentQuestion.answers"
              class="answer-item answer"
              [ngClass]="getAnswerClass(ans)"
            >
              <input
                class="answer"
                type="radio"
                formControlName="answer"
                [value]="ans"
              />

              <span>{{ ans.content }}</span>
            </label>
          </div>

          <!-- Error -->
          <div
            class="mt-4"
            *ngIf="
              questionForm.get('answer')?.touched &&
              questionForm.get('answer')?.invalid
            "
            class="text-danger mt-2"
          >
            <span class="text-warning">Bạn phải chọn một đáp án</span>
          </div>

          <!-- Result -->

          <!-- Submit -->
          <div class="mt-4">
            <button
              type="submit"
              class="btn btn-success w-100 quiz-btn text-primary pointer"
            >
              Kiểm tra đáp án
            </button>
          </div>
        </form>
      }
    </div>
    <!-- Footer -->
    <div class="card-footer d-flex justify-content-between">
      <button
        mat-raised-button
        color="primary"
        class="btn btn-primary quiz-btn mt-4 pointer"
        (click)="previous()"
        *ngIf="index > 0"
      >
        <span class="next-text text-primary d-flex align-items-center gap-1">
          <mat-icon>arrow_back</mat-icon>
          <span> Cấu trước</span>
        </span>
      </button>

      <button
        mat-raised-button
        color="primary"
        class="btn btn-primary quiz-btn mt-4 pointer"
        (click)="next()"
      >
        <span class="next-text text-primary d-flex align-items-center gap-1">
          <span>Câu tiếp</span>
          <mat-icon>arrow_forward</mat-icon>
        </span>
      </button>
    </div>
  } @else {
    <div class="card-header d-flex justify-content-between align-items-center">
      <span class="fw-semibold"> Không có câu hỏi nào </span>
    </div>
  }
</div>
