        <button
          class="exam-type-card exam-card-pho-bien"
          data-exam-type="Hạng B"
        >
          <span class="exam-badge-pho-bien">Phổ biến</span>
          <div class="exam-card-icon">
            <i class="fas fa-car"></i>
          </div>
          <div class="exam-card-content">
            <h4 class="exam-card-title">Hạng B</h4>
            <div class="exam-card-info">
              <span class="exam-info-item">
                <i class="fas fa-question-circle"></i>
                {{numberQuestion}} câu
              </span>
              <span class="exam-info-item">
                <i class="fas fa-clock"></i>
                {{minutes}} phút
              </span>
            </div>
            <div class="exam-card-description">
              <i class="fas fa-info-circle"></i>
              Xe 4 bánh chở người đến 8 chỗ, xe tải đến 3.5 tấn, rơ moóc đến
              750kg
            </div>
            <div class="exam-card-pass">
              <i class="fas fa-trophy"></i>
              Đậu: {{score}}/{{numberQuestion}}
            </div>
            <!-- <span class="exam-badge-diemliet">
              <i class="fas fa-exclamation-triangle"></i>
              1 câu điểm liệt
            </span> -->
          </div>
        </button>