.question-container {
  display: flex;
  gap: 20px;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  border: solid 1px #878787;
  border-radius: 10px;
  padding: 20px;
}
.side-bar-question {
  // width: 300px;
  padding: 20px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  border-radius: 10px;
  border: solid 1px #f0f0f0;
  box-shadow: var(--shadow-md);
}
.question-content {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  border: solid 1px #f0f0f0;
}
.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  margin: 0 auto;
  max-width: max-content;
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.mat-typography {
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .quiz-main-wrapper,
  .question-container {
    flex-direction: column;
  }

  .flex-container {
  }
}
