<div class="container">
  @if (mode == "study") {
    <div class="header-container">
      <h2 class="header-title">Học lý thuyết 600 câu lái xe ô tô</h2>
    </div>
  }

  <div class="question-container quiz-main-wrapper">
    <div class="side-bar-question">
      <!-- @if (mode == "study") {
        <app-side-bar-question></app-side-bar-question>
      } @else {
        <app-side-bar-exam />
      } -->
      <app-side-bar-wrap [mode]="mode" />
    </div>
    <div class="question-content">
      <!-- @switch (mode) {
        @case ("exam") {
          <app-question-content-exam />
        }
        @case ("review") {
          <app-question-content-exam [mode]="'review'" />
        }
        @default {
          <app-question-card></app-question-card>
        }
      } -->
      @if (mode == "study") {
        <app-question-card></app-question-card>
      } @else if (mode == "exam") {
        <app-question-content-exam />
      } @else {
        <app-question-content-exam [mode]="'review'" />
      }
    </div>
  </div>
</div>
