<!-- <h2 mat-dialog-title>  {{data.title}}</h2>
<mat-dialog-content>
  {{data.content}}
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>No</button>
  <button matButton mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->
<div class="quiz-modal">
  <div class="quiz-modal-dialog">
    <div class="quiz-modal-header">
      <h5>{{ data.title }}</h5>
    </div>
    <div class="quiz-modal-body">
      <p>
        {{ data.content }}
      </p>
    </div>
    <div class="quiz-modal-footer" mat-dialog-actions>
      <button [mat-dialog-close]="true" class="btn-primary">
        {{ data.confirmBtnText }}
      </button>
      @if (!data.isConfirmDialog) {
        <button class="btn-secondary" [mat-dialog-close]="false">
          <span> <mat-icon>close</mat-icon> {{ data.cancelBtnText }} </span>
        </button>
      }
    </div>
  </div>
</div>
